.contenedor__informacion--index {
    width: 56%;
    height: 500px;
    @include propiedadesFlex (flex,row,wrap,start);
    justify-content: map-get($justify , center );
    margin: 50px 390px;
    .titulo__contenedor--index {
        text-align: center;
        width: 90%;
        height: 165px;
        padding: 10px;
        .titulo__contenedor--texto-index {
            color: #000aff;
            font-size: 70px;
        }
    }
    .contenedor__buttons {
        @include propiedadesFlex (flex,row,nowrap,start);
        width: 98%;
        height: 99px;
        justify-content: map-get($justify , evenly );
        margin-top: 200px;
        .iniciar-sesion__contenedor {
            width: 332px;
            height: 95px;
            background: #09FF21;
            border-radius: 40px;
            text-align: center;
            padding: 30px;
            &:hover {
                transform: scale(1.1);
                text-decoration: underline;
                transition: all .2s;
            }
            .iniciar-sesion__contenedor--texto {
                @extend .extend
            }
        }
        .registrarse__contenedor {
            width: 332px;
            height: 95px;
            background: #00D1FF;
            border-radius: 40px;
            text-align: center;
            padding: 29px;
            &:hover {
                transform: scale(1.1);
                text-decoration: underline;
                transition: all .2s;
            }
            .registrarse__contenedor--texto {
                @extend .extend
            }
        }
    }
}
