$colores:(
    navbarFondo: #fff,
    footerFondo: #BDFF00,
);

$justify:(
    start:start,
    center:center,
    end:end,
    around:space-around,
    between:space-between,
    evenly:space-evenly,
);

.extend {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #fff;
}

@mixin propiedadesFlex ($display,$direction,$wrap,$align) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
}