* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 86.3% 140px;
    grid-template-areas: " nav   "
                         " main  "
                         " footer";
}

body {
    background-image: url(./../../imagenes/benjamin-davies-FiZTaNTj2Ak-unsplash.jpg);
    background-size: 2000px 1200px;
    background-position: -80px -120px;
    background-repeat: no-repeat;
}
 
/*Barra de navegación*/
#navbarNav {
    margin-left: 800px;
    background-color: #ffffff;
}

nav ul li {
    margin: 0px 30px;
    font-size: 30px;
}

nav ul li:hover {
    transition: all .1s;
    transform: scale(1.2);
    text-decoration: underline;
}

.contenedor__informacion {
    width: 70%;
    height: 500px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 30% 70%;
    margin: 50px 390px;
}

.titulo__contenedor {
    text-align: center;
    width: 600px;
    height: 125px;
    padding: 10px;
    margin-left: -30px;
    margin-top: 15px;
}

.titulo__contenedor--texto {
    color: #FAFF00;
    font-size: 80px;
}

.contenedor__info {
    width: 761px;
    height: 321px;
    margin-left: 445px;
}

.contenedor__info--texto {
    color: #1400FF;
    font-size: 24px;
}

.imagen__nosotros {
    width: 363px;
    height: 348px;
    border-radius: 260px;
    margin-top: 100px;
}

/*Footer*/

footer {
    grid-area: footer;
    width: 100%;
    height: 160px;
    background: #BDFF00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor__imagenes--footer {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.imagen__facebook {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 53px;
}

.imagen__twitter {
    width: 100px;
    height: 100px;
    border: #000 solid 1px;
    border-radius: 53px;
}

.imagen__youtube {
    width: 100px;
    height: 100px;
    border: #000 solid 1px;
    border-radius: 53px;
}

.footer__contenedor--texto {
    width: 732px;
    height: 111px;
}

.footer--texto {
    font-size: 45px;    
}

@media (max-width: 480px) {
    body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 82px auto 137px;
    }
    #navbarNav {
        margin-left: 0px;
    }
    .contenedor__informacion {
        width: 80%;
        height: 600px;
        margin: 20px 50px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50% 40%;
    }
    .titulo__contenedor {
        width: 80%;
        height: 50px;
        order: 1;
        margin: 0px 20px;
    }
    .titulo__contenedor--texto {
        font-size: 35px;
    }
    .contenedor__info {
        order: 2;
        width: 100%;
        height: 295px;
        margin: 5px 5px 5px 5px ;
        
    }
    .contenedor__info--texto {
        font-size: 20px;
    }
    .imagen__nosotros {
        order: 3;
        height: 200px;
        width: 200px;
        margin: 5px 70px;
    }
    footer {
        height: 138px;
        border-radius: 32px 32px 0px 0px;
    }
    .contenedor__imagenes--footer {
        width: 45%;
        margin-left: 5px;
        display: flex;
        justify-content: space-around;
    }
    .imagen__facebook {
        width: 60px;
        height: 60px;
    }
    .imagen__youtube {
        height: 60px;
        width: 60px;
    }
    .imagen__twitter {
        width: 60px;
        height: 60px;
    }

    .footer__contenedor--texto {
        width: 50%;
        margin-top: 10px;
    }
    .footer--texto {
        font-size: 25px;
    }
}