.extend, .contenedor__informacion--index .contenedor__buttons .registrarse__contenedor .registrarse__contenedor--texto, .contenedor__informacion--index .contenedor__buttons .iniciar-sesion__contenedor .iniciar-sesion__contenedor--texto {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 86.3% 140px;
  grid-template-areas: " nav   " " main  " " footer";
  background-image: url(../../imagenes/xan-griffin-eA2t5EvcxU4-unsplash.jpg);
  background-size: 2000px 1200px;
  background-position: -80px -120px;
  background-repeat: no-repeat;
}

/*Barra de navegacion*/
#navbarNav {
  margin-left: 800px;
  background-color: #fff;
}
#navbarNav li {
  margin: 0px 30px;
  font-size: 30px;
}
#navbarNav li:hover {
  transition: all 0.1s;
  transform: scale(1.2);
  text-decoration: underline;
}

/*Main*/
main {
  grid-area: main;
}

/*Estilos del "index"*/
.contenedor__informacion--index {
  width: 56%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: 50px 390px;
}
.contenedor__informacion--index .titulo__contenedor--index {
  text-align: center;
  width: 90%;
  height: 165px;
  padding: 10px;
}
.contenedor__informacion--index .titulo__contenedor--index .titulo__contenedor--texto-index {
  color: #000aff;
  font-size: 70px;
}
.contenedor__informacion--index .contenedor__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  width: 98%;
  height: 99px;
  justify-content: space-evenly;
  margin-top: 200px;
}
.contenedor__informacion--index .contenedor__buttons .iniciar-sesion__contenedor {
  width: 332px;
  height: 95px;
  background: #09FF21;
  border-radius: 40px;
  text-align: center;
  padding: 30px;
}
.contenedor__informacion--index .contenedor__buttons .iniciar-sesion__contenedor:hover {
  transform: scale(1.1);
  text-decoration: underline;
  transition: all 0.2s;
}
.contenedor__informacion--index .contenedor__buttons .registrarse__contenedor {
  width: 332px;
  height: 95px;
  background: #00D1FF;
  border-radius: 40px;
  text-align: center;
  padding: 29px;
}
.contenedor__informacion--index .contenedor__buttons .registrarse__contenedor:hover {
  transform: scale(1.1);
  text-decoration: underline;
  transition: all 0.2s;
}
/*estilos de la pagina "nosotros"*/
.contenedor__informacion--nosotros {
  width: 70%;
  height: 500px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  margin: 50px 390px;
}
.contenedor__informacion--nosotros .titulo__contenedor--nosotros {
  text-align: center;
  width: 600px;
  height: 125px;
  padding: 10px;
  margin-left: -30px;
  margin-top: 15px;
}
.contenedor__informacion--nosotros .titulo__contenedor--nosotros .titulo__contenedor--texto-nosotros {
  color: #FAFF00;
  font-size: 80px;
}
.contenedor__informacion--nosotros .contenedor__info--nosotros {
  width: 761px;
  height: 321px;
  margin-left: 445px;
}
.contenedor__informacion--nosotros .contenedor__info--nosotros .contenedor__info--texto-nosotros {
  color: #1400FF;
  font-size: 24px;
}
.contenedor__informacion--nosotros .imagen__nosotros {
  width: 363px;
  height: 348px;
  border-radius: 260px;
  margin-top: 100px;
}

/*estilos para la pagina "servicios"*/
.contenedor__informacion--servicios {
  width: 70%;
  height: 500px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  margin: 50px 390px;
}
.contenedor__informacion--servicios .titulo__contenedor--servicios {
  text-align: center;
  width: 596px;
  height: 92px;
  padding: 10px;
  margin-left: -40px;
  margin-top: 15px;
}
.contenedor__informacion--servicios .titulo__contenedor--servicios .titulo__contenedor--texto-servicios {
  color: #f00;
  font-size: 68px;
}
.contenedor__informacion--servicios .contenedor__info--servicios {
  width: 661px;
  height: 321px;
  margin-left: 500px;
}
.contenedor__informacion--servicios .contenedor__info--servicios .contenedor__info--texto-servicios {
  color: #00f;
  font-size: 28px;
}
.contenedor__informacion--servicios .imagen__servicios {
  width: 300px;
  height: 300px;
  border-radius: 260px;
  margin-top: 175px;
  margin-left: 80px;
}

/*estilos para la pagina "contactos"*/
.contenedor__informacion--contactos {
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-around;
  margin-left: 250px;
}
.contenedor__informacion--contactos .contenedor__info--contactos {
  width: 500px;
  height: 400px;
  border: #000 solid 2px;
  background: #ddd;
  border-radius: 70px;
  margin-top: 140px;
}
.contenedor__informacion--contactos .contenedor__info--contactos .contenedor__titulo--contactos {
  width: 300px;
  height: 82px;
  text-align: center;
  margin-top: 10px;
  margin-left: 47px;
}
.contenedor__informacion--contactos .contenedor__info--contactos .contenedor__titulo--contactos .contenedor__titulo--texto-contactos {
  font-size: 70px;
  color: #001AFF;
}
.contenedor__informacion--contactos .contenedor__info--contactos .contenedor__contactos {
  width: 100%;
  height: 300px;
  margin-left: 30px;
  margin-top: 15px;
}
.contenedor__informacion--contactos .contenedor__info--contactos .contenedor__contactos .contenedor__contactos--texto {
  color: #000;
  font-size: 35px;
}
.contenedor__informacion--contactos .contenedor__consulta {
  width: 675px;
  height: 551px;
  background: #efefef;
  border-radius: 60px;
  border: #000 solid 2px;
  margin-top: 50px;
}
.contenedor__informacion--contactos .contenedor__consulta .consulta__titulo {
  font-size: 50px;
  color: #0500FF;
  text-align: center;
}
.contenedor__informacion--contactos .contenedor__consulta .consulta__input {
  width: 640px;
  height: 55px;
  padding: 20px;
  margin: 20px 15px;
  border-radius: 5px;
  border: #000 solid 1px;
  font-size: 20px;
  color: #000;
}
.contenedor__informacion--contactos .contenedor__consulta .consulta__enviar {
  width: 80px;
  height: 40px;
  margin: 1px 15px;
  font-size: 20px;
}
.contenedor__informacion--contactos .contenedor__consulta .consulta__restablecer {
  width: 125px;
  height: 40px;
  font-size: 20px;
}

/*estilos de la pagina ayuda*/
.contenedor__informacion--ayuda {
  width: 70%;
  height: 500px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30% 70%;
  margin: 50px 390px;
}
.contenedor__informacion--ayuda .contenedor__titulo--ayuda {
  width: 489px;
  height: 60px;
  margin-top: 30px;
}
.contenedor__informacion--ayuda .contenedor__titulo--ayuda .contenedor__titulo--texto-ayuda {
  color: #007D23;
  font-size: 45px;
}
.contenedor__informacion--ayuda .contenedor__info--ayuda {
  width: 661px;
  height: 321px;
  margin-left: 480px;
}
.contenedor__informacion--ayuda .contenedor__info--ayuda .contenedor__info--texto-ayuda {
  font-size: 30px;
  color: #11bb00;
}
.contenedor__informacion--ayuda .imagen__ayuda {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin-top: 175px;
  margin-left: 80px;
}

/*footer*/
footer {
  grid-area: footer;
  width: 100%;
  height: 160px;
  background-color: #BDFF00;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
footer .contenedor__imagenes--footer {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
footer .contenedor__imagenes--footer .imagen__facebook {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 53px;
}
footer .contenedor__imagenes--footer .imagen__twitter {
  width: 100px;
  height: 100px;
  border: #000 solid 1px;
  border-radius: 53px;
}
footer .contenedor__imagenes--footer .imagen__youtube {
  width: 100px;
  height: 100px;
  border: #000 solid 1px;
  border-radius: 53px;
}
footer .footer__contenedor--texto {
  width: 732px;
  height: 111px;
}
footer .footer__contenedor--texto .footer--texto {
  font-size: 45px;
}

/*responsives*/
@media (max-width: 480px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 82px 80% auto;
  }

  /*Barra de navegacion responsive*/
  #navbarNav {
    margin-top: 34px;
    margin-left: 0px;
    transition: all 0.4s;
  }

  /*estilos del index responsive*/
  .contenedor__informacion--index {
    width: 80%;
    height: 458px;
    margin: 70px 50px;
  }
  .contenedor__informacion--index .titulo__contenedor--index {
    width: 300px;
    height: 110px;
  }
  .contenedor__informacion--index .titulo__contenedor--index .titulo__contenedor--texto-index {
    font-size: 27px;
  }
  .contenedor__informacion--index .contenedor__buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
  }
  .contenedor__informacion--index .contenedor__buttons .iniciar-sesion__contenedor {
    width: 280px;
    height: 95px;
    margin-left: 50px;
    margin-top: -180px;
  }
  .contenedor__informacion--index .contenedor__buttons .iniciar-sesion__contenedor .iniciar-sesion__contenedor--texto {
    font-size: 25px;
  }
  .contenedor__informacion--index .contenedor__buttons .registrarse__contenedor {
    width: 280px;
    height: 95px;
    margin-left: 50px;
  }

  /*Estilos de la pagina "nosotros" responsive*/
  .contenedor__informacion--nosotros {
    width: 80%;
    height: 578px;
    margin: 10px 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% auto;
  }
  .contenedor__informacion--nosotros .titulo__contenedor--nosotros {
    width: 80%;
    height: 50px;
    order: 1;
    margin: 0px 20px;
  }
  .contenedor__informacion--nosotros .titulo__contenedor--nosotros .titulo__contenedor--texto-nosotros {
    font-size: 35px;
  }
  .contenedor__informacion--nosotros .contenedor__info--nosotros {
    order: 2;
    width: 100%;
    height: 295px;
    margin: 5px;
  }
  .contenedor__informacion--nosotros .contenedor__info--nosotros .contenedor__info--texto-nosotros {
    font-size: 20px;
  }
  .contenedor__informacion--nosotros .imagen__nosotros {
    order: 3;
    height: 180px;
    width: 180px;
    margin: 5px 85px;
  }

  /*estilos de la pagina "servicios" responsive*/
  .contenedor__informacion--servicios {
    width: 80%;
    height: 578px;
    margin: 10px 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% auto;
  }
  .contenedor__informacion--servicios .titulo__contenedor--servicios {
    width: 80%;
    height: 50px;
    order: 1;
    margin: 0px 20px;
  }
  .contenedor__informacion--servicios .titulo__contenedor--servicios .titulo__contenedor--texto-servicios {
    font-size: 34px;
  }
  .contenedor__informacion--servicios .contenedor__info--servicios {
    order: 2;
    width: 100%;
    height: 295px;
    margin: 5px;
  }
  .contenedor__informacion--servicios .contenedor__info--servicios .contenedor__info--texto-servicios {
    font-size: 20px;
  }
  .contenedor__informacion--servicios .imagen__servicios {
    order: 3;
    height: 180px;
    width: 180px;
    margin: 5px 85px;
  }

  /*estilos para la pagina de "contactos" responsive*/
  .body__contactos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 82.9% 140px;
  }
  .body__contactos .contenedor__informacion--contactos {
    width: 90%;
    height: 92%;
    margin: 25px 22px;
  }
  .body__contactos .contenedor__informacion--contactos .contenedor__info--contactos {
    display: none;
  }
  .body__contactos .contenedor__informacion--contactos .contenedor__consulta {
    width: 90%;
    height: 480px;
    margin-left: 1px;
    margin-top: 60px;
  }
  .body__contactos .contenedor__informacion--contactos .contenedor__consulta .consulta__input {
    width: 80%;
    margin-left: 40px;
  }
  .body__contactos .contenedor__informacion--contactos .contenedor__consulta .consulta__enviar {
    height: 30px;
    width: 50px;
    font-size: 15px;
    margin-left: 40px;
  }
  .body__contactos .contenedor__informacion--contactos .contenedor__consulta .consulta__restablecer {
    font-size: 15px;
    width: 82px;
    height: 30px;
  }

  /*estilos para la pagina de "ayuda" responsive*/
  .contenedor__informacion--ayuda {
    width: 80%;
    height: 578px;
    margin: 10px 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 60% auto;
  }
  .contenedor__informacion--ayuda .contenedor__titulo--ayuda {
    width: 80%;
    height: 50px;
    order: 1;
    margin-top: 15px;
  }
  .contenedor__informacion--ayuda .contenedor__titulo--ayuda .contenedor__titulo--texto-ayuda {
    font-size: 28px;
  }
  .contenedor__informacion--ayuda .contenedor__info--ayuda {
    order: 2;
    width: 100%;
    height: 295px;
    margin: 5px;
  }
  .contenedor__informacion--ayuda .contenedor__info--ayuda .contenedor__info--texto-ayuda {
    font-size: 20px;
  }
  .contenedor__informacion--ayuda .imagen__ayuda {
    order: 3;
    height: 180px;
    width: 180px;
    margin: 5px 85px;
  }

  /*Footer responsive*/
  footer {
    height: 130px;
    border-radius: 32px 32px 0px 0px;
  }
  footer .contenedor__imagenes--footer {
    width: 45%;
    margin-left: 5px;
    justify-content: space-around;
  }
  footer .contenedor__imagenes--footer .imagen__facebook {
    width: 60px;
    height: 60px;
  }
  footer .contenedor__imagenes--footer .imagen__youtube {
    height: 60px;
    width: 60px;
  }
  footer .contenedor__imagenes--footer .imagen__twitter {
    width: 60px;
    height: 60px;
  }
  footer .footer__contenedor--texto {
    width: 50%;
    margin-top: 10px;
  }
  footer .footer__contenedor--texto .footer--texto {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */